<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >

        <div class="row"  >
            <div class="col-sm-6 col-sm-offset-3">
                <div class="jumbotron">
                    <h1>Hello, world!</h1>
                    <p>Welcome page. Woohoo :D</p>
                    <p><a class="btn btn-success btn-lg" [routerLink]="['/products']" role="button">Product list</a></p>
                </div>
            </div>
        </div>
    </div>
</div>